@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h4>Add a new Patron</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.PatronName)
  @Html.TextBoxFor(model => model.PatronName)

  @* <!-- @Html.Label("Select Gallery")
  @Html.DropDownList("GalleryId") --> *@
  
  <input type="submit" value="Add new Patron"/>
}
<hr />
<p>@Html.ActionLink("Show all Patrons", "Index")</p>