@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h2>Edit</h2>

<h4>Edit this Patron: @Html.DisplayFor(model => model.PatronName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatronId)

    @Html.LabelFor(model => model.PatronName)
    @Html.EditorFor(model => model.PatronName)

    @* @Html.Label("Select Gallery")
    @Html.DropDownList("GalleryId") *@

    <input type="submit" value="Save" />
}
<hr />
<p>@Html.ActionLink("Back to list", "Index")</p>