@{
  Layout = "_Layout";
}

@using System.Collections.Generic;
@using Library.Models;
@model Library.Models.Book

<h4>Add a new task</h4>
@using (Html.BeginForm("Create", "Book"))
{
  

  @Html.LabelFor(model => model.BookTitle)
  @Html.TextBoxFor(model => model.BookTitle)

  @Html.Label("Select Author")
  @Html.DropDownList("AuthorId")


  <input type="submit" value="Add new Book" />
}
<hr />
<p>@Html.ActionLink("Show all Books", "Index")</p>