@using System.Collections.Generic;
@model Library.Models.Author

<h2>Add a Book</h2>

<h4>Add a Book by this author @Html.DisplayFor(model => model.AuthorName)</h4>
<div class="wrapper">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.AuthorId)

    @Html.Label("Select Book")
    @Html.DropDownList("BookId")

    <input type="submit" value="Save" />
  }
</div>
<hr />

<p>@Html.ActionLink("Back to author list", "Index")</p>