@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h4>Add a new Author</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.AuthorName)
  @Html.TextBoxFor(model => model.AuthorName)

  @* @Html.Label("Select Book")
  @Html.DropDownList("BookId") *@

  <input type="submit" value="Add new Author" />
}
<hr />
<p>@Html.ActionLink("Show all Authors", "Index")</p>