@{
  Layout = "_Layout";
}

@model Museum.Models.Author

<h2>Edit</h2>

<h4>Edit this Author: @Html.DisplayFor(model => model.AuthorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AuthorId)

    @Html.LabelFor(model => model.AuthorName)
    @Html.EditorFor(model => model.AuthorName)

    @* @Html.Label("Select Gallery")
    @Html.DropDownList("GalleryId") *@

    <input type="submit" value="Save" />
}
<hr />
<p>@Html.ActionLink("Back to list", "Index")</p>