@{
  Layout = "_Layout";
}

@model Library.Models.Copy

<h2>Edit</h2>

<h4>Edit this Copy: @Html.DisplayFor(model => model.CopyId)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CopyId)

  @* @Html.LabelFor(model => model.CopyTitle)
  @Html.EditorFor(model => model.CopyTitle) *@

  @* @Html.Label("Select Artist")
  @Html.DropDownList("ArtistId") *@

  <input type="submit" value="Save" />
}
<hr />
<p>@Html.ActionLink("Back to list", "Index")</p>